
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return isSignedIn() && exists(/databases/$(database)/documents/roles_admin/$(request.auth.uid));
    }

    match /services/{serviceId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /solutions/{solutionId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /caseStudies/{caseStudyId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /blogPosts/{blogPostId} {
      allow read: if (resource != null && resource.data.isPublished == true) || isAdmin();
      allow write: if isAdmin();
    }

    match /blogTags/{blogTagId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    match /contactInquiries/{inquiryId} {
      allow create: if true;
      allow read, update, delete: if isAdmin();
    }

    match /companyInfo/visoma {
      allow get: if true;
      allow list: if false;
      allow write: if isAdmin();
    }

    match /roles_admin/{userId} {
      allow get: if isSignedIn();
      allow list, write: if isAdmin();
    }
  }
}
